<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Archetype Created Web Application</display-name>
<!--	<context-param>
		<param-name>host</param-name>
		<param-value>smtp.gmail.com</param-value>
	</context-param>

	<context-param>
		<param-name>port</param-name>
		<param-value>587</param-value>
	</context-param>

	<context-param>
		<param-name>email</param-name>
		<param-value>mansij.inexture@gmail.com</param-value>
	</context-param>
	<context-param>
		<param-name>name</param-name>
		<param-value>Mansi</param-value>
	</context-param>
	<context-param>
		<param-name>pass</param-name>
		<param-value>Mansi@2k22?@!</param-value>
	</context-param>

 -->
	
	<servlet>
		<servlet-name>HomePageServlet</servlet-name>
		<display-name>HomePageServlet</display-name>
		<description></description>
		<servlet-class>controller.HomePageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<display-name>Register</display-name>
		<description></description>
		<servlet-class>controller.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditEmployeeDetails</servlet-name>
		<display-name>EditEmployeeDetails</display-name>
		<description></description>
		<servlet-class>controller.EditEmployeeDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddNewProject</servlet-name>
		<display-name>AddNewProject</display-name>
		<description></description>
		<servlet-class>controller.AddNewProject</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeSearchServlet</servlet-name>
		<display-name>EmployeeSearchServlet</display-name>
		<description></description>
		<servlet-class>controller.EmployeeSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProfileServlet</servlet-name>
		<display-name>ProfileServlet</display-name>
		<description></description>
		<servlet-class>controller.ProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProfileServletForEditEmp</servlet-name>
		<display-name>ProfileServletForEditEmp</display-name>
		<description></description>
		<servlet-class>controller.ProfileServletForEditEmp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProfileEditServlet</servlet-name>
		<display-name>ProfileEditServlet</display-name>
		<description></description>
		<servlet-class>controller.ProfileEditServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewProjectServlet</servlet-name>
		<display-name>NewProjectServlet</display-name>
		<description></description>
		<servlet-class>controller.NewProjectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteEmployeeServlet</servlet-name>
		<display-name>DeleteEmployeeServlet</display-name>
		<description></description>
		<servlet-class>controller.DeleteEmployeeServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>DeleteAddressServlet</servlet-name>
		<display-name>DeleteAddressServlet</display-name>
		<description></description>
		<servlet-class>controller.DeleteAddressServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditProjectServlet</servlet-name>
		<display-name>EditProjectServlet</display-name>
		<description></description>
		<servlet-class>controller.EditProjectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpcomingProjectServlet</servlet-name>
		<display-name>UpcomingProjectServlet</display-name>
		<description></description>
		<servlet-class>controller.UpcomingProjectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AllProjectListServlet</servlet-name>
		<display-name>AllProjectListServlet</display-name>
		<description></description>
		<servlet-class>controller.AllProjectListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OnGoingProjectServlet</servlet-name>
		<display-name>OnGoingProjectServlet</display-name>
		<description></description>
		<servlet-class>controller.OnGoingProjectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CompletedProjectServlet</servlet-name>
		<display-name>CompletedProjectServlet</display-name>
		<description></description>
		<servlet-class>controller.CompletedProjectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StopOnGoingProjectServlet</servlet-name>
		<display-name>StopOnGoingProjectServlet</display-name>
		<description></description>
		<servlet-class>controller.StopOnGoingProjectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<display-name>SearchServlet</display-name>
		<description></description>
		<servlet-class>controller.SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AssignEmployeeServlet</servlet-name>
		<display-name>AssignEmployeeServlet</display-name>
		<description></description>
		<servlet-class>controller.AssignEmployeeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeProjectServlet</servlet-name>
		<display-name>EmployeeProjectServlet</display-name>
		<description></description>
		<servlet-class>controller.EmployeeProjectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OnGoingProjectForEmployee</servlet-name>
		<display-name>OnGoingProjectForEmployee</display-name>
		<description></description>
		<servlet-class>controller.OnGoingProjectForEmployee</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpcomingProjectServletForEmployee</servlet-name>
		<display-name>UpcomingProjectServletForEmployee</display-name>
		<description></description>
		<servlet-class>controller.UpcomingProjectServletForEmployee</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CompletedProjectForEmployee</servlet-name>
		<display-name>CompletedProjectForEmployee</display-name>
		<description></description>
		<servlet-class>controller.CompletedProjectForEmployee</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProfileServletForAddEmpAddress</servlet-name>
		<display-name>ProfileServletForAddEmpAddress</display-name>
		<description></description>
		<servlet-class>controller.ProfileServletForAddEmpAddress</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AssignProjectToEmployeeByNameId</servlet-name>
		<display-name>AssignProjectToEmployeeByNameId</display-name>
		<description></description>
		<servlet-class>controller.AssignProjectToEmployeeByNameId</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResetPasswordServlet</servlet-name>
		<display-name>ResetPasswordServlet</display-name>
		<description></description>
		<servlet-class>controller.ResetPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ForgotPasswordServlet</servlet-name>
		<display-name>ForgotPasswordServlet</display-name>
		<description></description>
		<servlet-class>controller.ForgotPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditEmployeeByAdminServlet</servlet-name>
		<display-name>EditEmployeeByAdminServlet</display-name>
		<description></description>
		<servlet-class>controller.EditEmployeeByAdminServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>HomePageServlet</servlet-name>
		<url-pattern>/HomePageServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>EditEmployeeDetails</servlet-name>
		<url-pattern>/EditEmployeeDetails</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>EmployeeSearchServlet</servlet-name>
		<url-pattern>/EmployeeSearchServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/ProfileServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ProfileServletForEditEmp</servlet-name>
		<url-pattern>/ProfileServletForEditEmp</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ProfileEditServlet</servlet-name>
		<url-pattern>/ProfileEditServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>NewProjectServlet</servlet-name>
		<url-pattern>/NewProjectServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DeleteEmployeeServlet</servlet-name>
		<url-pattern>/DeleteEmployeeServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DeleteAddressServlet</servlet-name>
		<url-pattern>/DeleteAddressServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditProjectServlet</servlet-name>
		<url-pattern>/EditProjectServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UpcomingProjectServlet</servlet-name>
		<url-pattern>/UpcomingProjectServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AllProjectListServlet</servlet-name>
		<url-pattern>/AllProjectListServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>OnGoingProjectServlet</servlet-name>
		<url-pattern>/OnGoingProjectServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CompletedProjectServlet</servlet-name>
		<url-pattern>/CompletedProjectServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>StopOnGoingProjectServlet</servlet-name>
		<url-pattern>/StopOnGoingProjectServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/SearchServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AssignEmployeeServlet</servlet-name>
		<url-pattern>/AssignEmployeeServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>EmployeeProjectServlet</servlet-name>
		<url-pattern>/EmployeeProjectServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>OnGoingProjectForEmployee</servlet-name>
		<url-pattern>/OnGoingProjectForEmployee</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UpcomingProjectServletForEmployee</servlet-name>
		<url-pattern>/UpcomingProjectServletForEmployee</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CompletedProjectForEmployee</servlet-name>
		<url-pattern>/CompletedProjectForEmployee</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ProfileServletForAddEmpAddress</servlet-name>
		<url-pattern>/ProfileServletForAddEmpAddress</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AssignProjectToEmployeeByNameId</servlet-name>
		<url-pattern>/AssignProjectToEmployeeByNameId</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ResetPasswordServlet</servlet-name>
		<url-pattern>/ResetPasswordServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
			<servlet-name>ForgotPasswordServlet</servlet-name>
			<url-pattern>/ForgotPasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditEmployeeByAdminServlet</servlet-name>
		<url-pattern>/EditEmployeeByAdminServlet</url-pattern>
	</servlet-mapping>
	

</web-app>
